@font-face {
    font-family: "Georama";
    src: url("../../assets/fonts/Georama-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Georama";
    src: url("../../assets/fonts/Georama-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Georama";
    src: url("../../assets/fonts/Georama-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Georama";
    src: url("../../assets/fonts/Georama-Bold.ttf");
    font-weight: 700;
}

// 300 – Light (легкий)
// 400 – Regular (обычный, стандартный вес шрифта, также может быть Normal)
// 500 – Medium (средний, чуть толще обычного)
// 600 – Semi Bold (полужирный)
// 700 – Bold (жирный)