:root {
    --header-background-color: #121618;
    --active-nav-item-color: #fac564;
    --non-activated-nav-item-color:rgba(255, 255, 255, 0.7);

    --heading-text-color: #fff;
    --subtitle-text-color: gray;
    --price-text-color: #fac564;
    --selected-text-color: #fac564;

    --base-text-color: gray;
}


