.services {
    background: url("../assets/img/food.png") repeat;
    color: #5c3d03;
    position: relative;
    padding: 75px;
}

.services__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        background: #fac564;
        opacity: 0;
}

.services__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    position: relative;
    gap: 50px
   
}


.services__container {
    display: flex;
    gap: 75px;
    @media screen and (width < 1380px) {
        flex-wrap: wrap;
        justify-content: center;
    }

}


.service__header {
    text-align: center;
}

.service__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (hover: hover) and (min-width: 768px) {
        &:hover {
            color: black;
        }
    }
}



.service__icon {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 10px 15px;
    border: 1px solid black;
    margin-bottom: 25px;
    cursor: default;
    transition: all 0.3s;

    @media (hover: hover) and (min-width: 768px) {
        &:hover {
            cursor: pointer;
            background-color: #fff;
            transform: rotate(135deg);
            .whatsapp__icon {
                    fill: #fac564; 
                    transform: rotate(-135deg)
    
            }
    
            .phone__icon {
                fill: #fac564;
                stroke: #fac564;
                transform: rotate(-135deg)
            }
    
            .instagram__icon {
                fill: #fac564;
                stroke: #fac564;
                transform: rotate(-135deg)
            }
        }
    }
}



.phone__icon {
    width: 100px;
    height: 75px;

}

.whatsapp__icon {
    width: 100px;
    height: 75px;
}

.instagram__icon {
    width: 100px;
    height: 75px;
}

.service__title {
    text-align: center;
    font-size: 2rem;
    width: 150px;

}

