.btn__container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    border-color: rgba(255, 255, 255, 0.8);
    background: none;
    border-width: 1px;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    width: 175px;

    @media screen and (width < 400px) {
        width: 125px;
    }

    &.btn__download {
        align-self: center;
        width: auto;
    }
}

.btn:hover {
    background-color: var(--active-nav-item-color);
    color: #000;
}

.active-btn {
    background-color: var(--active-nav-item-color);
    color: #000;


  
        &:hover {
            background: none;
            color: var(--active-nav-item-color);
            border-color: var(--active-nav-item-color);
        }
    
}

